{
  "onShowSound" : [
    ""
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/newquest/header.png",
      "fileBody" : "/interface/quests/newquest/bodyshort.png",
      "fileFooter" : "/interface/quests/newquest/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [261, 197]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 194],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "nqImage" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/NewQuest.png",
      "position" : [30, 152],
      "zlevel" : -10
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/detailsshort.png",
      "position" : [3, 37],
      "zlevel" : -10
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [48, 30],
      "position" : [9, 93],
      "scale" : 1.5
    },
    "portraitTitle" : {
      "type" : "label",
      "position" : [32, 83],
      "hAnchor" : "mid",
      "charLimit" : 12,
      "fontSize" : 8,
      "value" : "",
      "color" : "white"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [64, 32],
      "caption" : "ACCEPT"
    },
    "btnDecline" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [144, 32],
      "caption" : "DECLINE"
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [55, 47],
      "dimensions" : [4, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "labelMoney" : {
      "type" : "label",
      "position" : [12, 51],
      "fontSize" : 8,
      "value" : "REWARDS:",
      "color" : [155, 227, 214]
    },
    "imgMoney" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/money.png",
      "position" : [60, 700]
    },
    "labelMoneyAmount" : {
      "type" : "label",
      "position" : [75, 680],
      "fontSize" : 8,
      "value" : "9999999",
      "color" : "white"
    },
    "labelQuestTitle" : {
      "type" : "label",
      "position" : [140, 140],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 190,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : [155, 227, 214]
    },
    "labelQuestBody" : {
      "type" : "label",
      "position" : [67, 131],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 187,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
