{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/questlog/header.png",
      "fileBody" : "/interface/quests/questlog/body.png",
      "fileFooter" : "/interface/quests/questlog/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [310, 259]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Quest Journal",
      "subtitle" : "^#b9b5b2;Keep track of your quests ^green;[J]",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/shine.png",
      "position" : [1, 9],
      "zlevel" : -10
    },
    "imgDetails" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/details.png",
      "position" : [3, 36]
    },
    "btnSetAsCurrent" : {
      "type" : "button",
      "base" : "/interface/quests/questlog/setAsCurrentUp.png",
      "hover" : "/interface/quests/questlog/setAsCurrentOver.png",
      "position" : [176, 22],
      "caption" : "SET AS CURRENT"
    },
    "btnAbandon" : {
      "type" : "button",
      "base" : "/interface/quests/questlog/abandonUp.png",
      "hover" : "/interface/quests/questlog/abandonOver.png",
      "position" : [258, 22],
      "caption" : "ABANDON"
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [207, 44],
      "dimensions" : [4, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "labelRewards" : {
      "type" : "label",
      "position" : [166, 48],
      "fontSize" : 8,
      "value" : "REWARDS:",
      "color" : [155, 227, 214]
    }, 
    "imgPolaroid" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/polaroid.png",
      "position" : [260, 45],
      "zlevel" : -1
    },     
    "imagePortrait" : {
      "type" : "image",
      "position" : [279, 70],
      "maxSize" : [31, 31],
      "minSize" : [31, 31],
      "centered" : true
    },    
    "labelPortraitTitle" : {
      "type" : "label",
      "position" : [279, 47],
      "hAnchor" : "mid",
      "fontSize" : 4,
      "charLimit" : 12,
      "color" : "black"
    },  
    "imgPolaroidBack" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/polaroidBackground.png",
      "position" : [260, 45],
      "zlevel" : -2
    },
    "labelQuestTitle" : {
      "type" : "label",
      "position" : [240, 244],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 150,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : "white"
    },
    "labelQuestBody" : {
      "type" : "label",
      "position" : [166, 232],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 150,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 32, 156, 232],
      "children" : {
        "questList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/quests/questlog/entry_selected.png",
            "unselectedBG" : "/interface/quests/questlog/entry_bg.png",
            "spacing" : [0, 1],
            "memberSize" : [142, 19],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/quests/questlog/entry_bg.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "imageNew" : {
                "type" : "image",
                "file" : "/interface/quests/questlog/new.png",
                "position" : [2, 2]
              },
              "labelQuestEntry" : {
                "type" : "label",
                "position" : [82, 9],
                "hAnchor" : "mid",
                "vAnchor" : "mid",
                "wrapWidth" : 100,
                "lineSpacing" : 1.0,
                "value" : " Secret of the Avian Troll Master",
                "color" : "white"
              },
              "imagePortrait" : {
                "type" : "image",
                "scale" : 1.0,
                "offset" : [25, 10],
                "position" : [0, 0]
              }
            }
          }
        }
      }
    },
    "filter" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "position" : [3, 238],
          "baseImage" : "/interface/quests/questlog/inProgress.png",
          "hoverImage" : "/interface/quests/questlog/inProgressOver.png",
          "baseImageChecked" : "/interface/quests/questlog/inProgressSelected.png",
          "selected" : true,
          "data" : "inProgress"
        },
        {
          "position" : [58, 238],
          "baseImage" : "/interface/quests/questlog/completed.png",
          "hoverImage" : "/interface/quests/questlog/completedOver.png",
          "baseImageChecked" : "/interface/quests/questlog/completedSelected.png",
          "data" : "completed"
        },
        {
          "position" : [105, 238],
          "baseImage" : "/interface/quests/questlog/failed.png",
          "hoverImage" : "/interface/quests/questlog/failedOver.png",
          "baseImageChecked" : "/interface/quests/questlog/failedSelected.png",
          "data" : "failed"
        }
      ]
    }
  }
}
