{
  "onShowSound" : [
    "/sfx/interface/quest_event.ogg"
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/questcomplete2/header.png",
      "fileBody" : "/interface/quests/questcomplete2/body.png",
      "fileFooter" : "/interface/quests/questcomplete2/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/details.png",
      "position" : [3, 25],
      "zlevel" : -10
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [48, 30],
      "position" : [12, 96],
      "scale" : 1.5
    },    
    "portraitTitle" : {
      "type" : "label",
      "position" : [35, 84],
      "hAnchor" : "mid",
      "charLimit" : 12,
      "fontSize" : 8,
      "value" : "",
      "color" : "white"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/questcomplete2/okayOver.png",
      "hover" : "/interface/quests/questcomplete2/okayUp.png",
      "position" : [104, 21],
      "caption" : "OKAY"
    },
    "imgComplete" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/questcomplete.png",
      "position" : [37, 151]
    },
    "imgRewards" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/rewards.png",
      "position" : [80, 45]
    },
    "imgBanner" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/rewardbanner.png",
      "position" : [-37, 19]
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [157, 42],
      "dimensions" : [4, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "labelMoney" : {
      "type" : "label",
      "position" : [10, 47],
      "fontSize" : 8,
      "value" : "^shadow;BONUS:^noshadow;",
      "color" : "#de7f08"
    },
    "imgMoney" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/money.png",
      "position" : [41, 48]
    },
    "labelMoneyAmount" : {
      "type" : "label",
      "position" : [54, 47],
      "fontSize" : 8,
      "value" : "9999999",
      "color" : "white"
    },
    "labelQuestTitle" : {
      "type" : "label",
      "position" : [140, 144],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 190,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : "orange"
    },
    "labelQuestBody" : {
      "type" : "label",
      "position" : [74, 134],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 190,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
