{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie", "titleCase" : true },
      [ { "mode" : "markov", "source" : "russianfemale", "targetLength" : [3, 12] } ],
      [ " " ],
      // No, Chucklefish. Read this before implementing Russian names in your game:
      // https://rn3aoh.net/archive/2014/04/18/naming-theory/
      [ { "mode" : "markov", "source" : "russiansurnamefemale", "targetLength" : [4, 12] } ]
    ]
  ]
}
